.footer-div {
  background-color: #282c34;
  padding-top: 30px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Raleway";
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
}
.facebook-link {
  margin-left: 20px;
  margin-right: 20px;
}
.erf-contact-link {
  color: #fff;
  text-decoration: none;
}
